.content-container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.content-box{
    height: 200px;
    width: 600px;
    margin: 0.8em 0.8em ;
    text-align: center;
    background-color: lightcyan;
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

@media (min-width: 500px) {
    .content-box{
        flex: 1 1 40%;
    }
}

@media (min-width:800px){
    .main-nav{
        display: flex;
        /* position:absolute;
        transform: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: none;
        color: white;
        list-style: none;
        padding-top: 0; */
    }
    label{
        display: none;
        } 
    }

@media (min-width:1200px){
    .content-container{
        width:100%;
        margin:auto;
        max-width: 1300px;
        justify-content: center;}

    .content-box{
        width:100%;
        flex: 1 0 600px;
        max-width: 600px;
        align-self: center;
    }    
}